.text{
	cursor: default; 
	-webkit-user-select: none; 
	-webkit-font-smoothing: antialiased; 
	font-family: Roboto; 
	font-size: 14px; 
	font-weight: 500;
}
.ruler{
	cursor: default; 
	-webkit-user-select: none; 
	-webkit-font-smoothing: antialiased; 
	font-family: Roboto; 
	font-size: 13px; 
	font-weight: 500;
}
